$headerColor: #d83f87;
$bodyColor: var(--light-background);
$bodyGradientColor: linear-gradient(
  90deg,
  rgba(42, 27, 61, 1) 0%,
  rgba(50, 33, 84, 1) 29%,
  rgba(68, 49, 141, 1) 100%
);
$formBoxShadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
$footerColor: var(--light-background);
$formColor: var(--light-background);
