@import "../../constants/colors.scss";

a {
  text-decoration: none;
  color: white;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-spacer {
  flex: 1 1 auto;
}

.login-button {
  background: white;
  color: black;
  margin-left: 1rem;
}

.mat-toolbar.mat-primary {
  background: $headerColor;
}

.active {
  color: aqua;
}

.user-logo-container, .user-logo, .user-logo-button, .user-initials, .user-logo-label {
  width: 3.5rem;
  height: 3.5rem;
  @media (max-width: 700px) { 
    width: 2.5rem;
    height: 2.5rem;
  }
}

.user-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  box-sizing: content-box;
  border: 0.5px solid grey;
  border-radius: 50%;
  background: white;
}

.user-logo, .user-logo-button {
  border-radius: 50%;
  align-self: center;
  padding: 0;
  border: none;
  cursor: pointer;
}

.user-logo-button {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.user-initials {
  color: black;
  margin: 0;
  line-height: 3.5rem;
  @media (max-width: 700px) { 
    line-height: 2.5rem;
  }
  text-align: center;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 4.5rem;
  @media (max-width: 700px) { 
    height: 3.5rem;
  }
}
