<mat-toolbar color="primary">
  <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div>
      <a [routerLink]="['/', routesEnum.HOME]">Family Tree</a>
  </div>
  <span class="menu-spacer"></span>
  <div fxHide.xs>
      <ul fxLayout fxLayoutGap="3rem" class="navigation-items">
          <li>
              <a [routerLink]="['/', routesEnum.TREE]">Tree</a>
          </li>
        </ul>
    </div>
    <button
        class="login-btn"
        *ngIf="isLoggedIn; else loginBtn"
        (click)="signOut()"
        mat-button
      >
        Logout <mat-icon>logout</mat-icon>
      </button>
      <ng-template #loginBtn>
        <a class="login-btn" [routerLink]="['/', routesEnum.LOG_IN]" routerLinkActive="active" mat-button>
          Login <mat-icon>login</mat-icon>
        </a>
      </ng-template>
</mat-toolbar>
