@import "../../constants/colors.scss";
a {
  text-decoration: none;
  color: white;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-spacer {
  flex: 1 1 auto;
}

.login-button {
  background: white;
  color: black;
  margin-left: 1rem;
}

.mat-toolbar.mat-primary {
  background: $headerColor;
}

.active {
  color: aqua;
}
