<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/" (click)="sidenav.close()">Family Tree</a>
      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a [routerLink]="['/', routesEnum.TREE]" routerLinkActive="active" (click)="sidenav.close()" mat-button>Tree</a>
      </div>

      <button class="login_btn" *ngIf="isLoggedIn; else loginBtn" (click)="openDialog()" mat-button>
        Logout <mat-icon>logout</mat-icon>
      </button>
      <ng-template #loginBtn>
        <a class="login_btn" [routerLink]="['/', routesEnum.LOG_IN]" routerLinkActive="active" mat-button>
          Login <mat-icon>login</mat-icon></a>
      </ng-template>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a [routerLink]="['/', routesEnum.TREE]" routerLinkActive="active" mat-list-item
          (click)="sidenav.close()">Tree</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</header>
