<div class="wrapper">
  <div class="container">
    <mat-icon class="error" aria-hidden="false" aria-label="Example home icon">sentiment_dissatisfied</mat-icon>
    <h1 class="head">404</h1>
    <p class="text">Page not found</p>
    <div class="example-button-container">
      <a
        routerLink="/"
        routerLinkActive="active"
        class="home_btn"
        mat-fab
        color="warn"
        aria-label="Go to home page"
      >
        <mat-icon class="home-btn">home</mat-icon>
      </a>
    </div>
  </div>
</div>
