@import "../../constants/colors.scss";
@import "../../constants/values.scss";

.profile-form {
  width: 100%;
  height: $mainContentHeight;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container {
  background-color: $formColor;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 95vw;
  max-width: 31.25rem;
  padding: 1rem;
  box-shadow: $formBoxShadow;
}

.profile-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  align-self: center;
  margin-bottom: 1rem;
  padding: 0;
  border: none;
}

.profile-image-upload {
  position: absolute;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  align-self: center;
  margin-bottom: 1rem;
  padding: 0;
  border: none;
  opacity: 0;
  z-index: -1;
}

.profile-form-buttons {
  display: flex;
  justify-content: space-between;
}

.registration-date {
  align-self: center;
  width: auto;
  text-align: center;
  box-sizing: border-box;
}
