@import "../../constants/colors.scss";
@import "../../constants/values.scss";

.profile-form {
  width: 100%;
  height: $mainContentHeight;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-container {
  background-color: $formColor;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 95vw;
  max-width: 31.25rem;
  padding: 1rem;
  box-shadow: $formBoxShadow;
}

.profile-image {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  align-self: center;
  background: center / cover no-repeat url(../../../assets/img/man.png);
  margin-bottom: 1rem;
}

.profile-form-buttons {
  display: flex;
  justify-content: space-between;
}
