@import "../../constants/colors.scss";
@import "../../constants/values.scss";

.reset-form {
  width: 100%;
  height: $mainContentHeight;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: $formColor;
  border-radius: $formBorderRadius;
  display: flex;
  flex-direction: column;
  width: $formWidth;
  max-width: $maxFormWidth;
  padding: 1rem;
  box-shadow: $formBoxShadow;
}

.confirm-password-button {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}
