<form class="reset-form" [formGroup]="resetForm" (ngSubmit)="submit()">
  <h1>Restore password</h1>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Ex. pat@example.com"
    />
    <mat-error
      *ngIf="
        resetForm.controls['email'].invalid &&
        resetForm.controls['email'].touched
      "
    >
      Please enter a valid email address
    </mat-error>
  </mat-form-field>
  <button class="confirm_pass_btn" type="submit" mat-flat-button color="primary">Confirm</button>
  <a routerLink="/login">Back to <strong>Login page</strong></a>
</form>
