<form 
  *ngIf="!emailSendFlag; else passResetInfo" 
  [formGroup]="resetForm"
  (ngSubmit)="resetPassword()"
  class="reset-form"
>
  <div class="form-container">
    <h2>Restore password</h2>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Ex. pat@example.com" />
      <mat-error *ngIf="emailControl.invalid && emailControl.touched">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <button 
      color="primary"
      class="confirm-password-button" 
      type="submit" 
      mat-flat-button 
    >
      Confirm
    </button>
    <a [routerLink]="['/', routesEnum.LOG_IN]">
      Back to <strong>Login page</strong>
    </a>
  </div>
</form>

<ng-template #passResetInfo>
  <div class="reset-form">
    <p>Instructions was send on your Email</p>
  </div>
</ng-template>
