<form 
  *ngIf="!(isEmailSend | async); else passResetInfo" 
  [formGroup]="resetForm"
  (ngSubmit)="resetPassword()"
  class="reset-form"
>
  <div class="form-container">
    <h2>Restore password</h2>
    <p>Do you need to reset your password? 
      No problem! Enter your email and click on the button below the text. 
      Follow the link sent to your email to change your password. 
      If you did not make this request, just ignore the letter that came to your mail.
    </p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailControl" placeholder="Ex. pat@example.com" />
      <mat-error *ngIf="emailControl.invalid && emailControl.touched">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>
    <button 
      color="primary"
      class="confirm-password-button" 
      type="submit" 
      mat-flat-button 
    >
      Confirm
    </button>
    <a [routerLink]="['/', routesEnum.LOG_IN]">
      Back to <strong>Login page</strong>
    </a>
  </div>
</form>

<ng-template #passResetInfo>
  <div class="reset-form">
    <p>Instructions was send on your Email</p>
  </div>
</ng-template>
