<form class="login-form" [formGroup]="loginForm" (ngSubmit)="submit()">
  <h1>
    {{ !currentUrlFlag ? "Login" : "Registration" }}
  </h1>
  <ng-container *ngIf="currentUrlFlag">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error
        *ngIf="
          loginForm.controls['firstName'].invalid &&
          loginForm.controls['firstName'].touched
        "
      >
        Please enter a valid name
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Second name</mat-label>
      <input matInput formControlName="secondName" />
      <mat-error
        *ngIf="
          loginForm.controls['secondName'].invalid &&
          loginForm.controls['secondName'].touched
        "
      >
        Please enter a valid second name
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option value="man">man</mat-option>
        <mat-option value="woman">woman</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      #email
      type="email"
      matInput
      formControlName="email"
      placeholder="Ex. pat@example.com"
    />
    <mat-error
      *ngIf="
        loginForm.controls['email'].invalid &&
        loginForm.controls['email'].touched
      "
    >
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      [type]="hidePassword ? 'password' : 'text'"
      formControlName="password"
    />
    <mat-error *ngIf="loginForm.controls['password'].invalid">
      Password min length is 8 symbols
    </mat-error>
    <button
      class="password_btn"
      type="button"
      mat-icon-button
      matSuffix
      (click)="hidePassword = !hidePassword"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hidePassword"
    >
      <mat-icon>{{ hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <div class="login-form_btns">
    <ng-container *ngIf="!currentUrlFlag">
      <a
        [routerLink]="['/', routesEnum.REGISTRATION]"
        mat-flat-button
        color="accent"
        >Registration</a
      >
      <button type="submit" mat-flat-button color="primary">Login</button>
    </ng-container>
    <ng-container *ngIf="currentUrlFlag">
      <a [routerLink]="['/', routesEnum.LOG_IN]" mat-flat-button color="accent"
        >Cancel</a
      >
      <button type="submit" mat-flat-button color="primary">Confirm</button>
    </ng-container>
  </div>
  <a
    class="forg_password-link"
    [routerLink]="['/', routesEnum.RESTORE_PASSWORD]"
    [queryParams]="{ email: email.value }"
    *ngIf="!currentUrlFlag"
    >Forgot <strong>password</strong>?</a
  >
</form>
