<form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="login-form">
  <div class="form_container">
    <h1>Login</h1>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input #email type="email" matInput formControlName="email" placeholder="Ex. pat@example.com" />
      <mat-error *ngIf="authForm.controls['email'].invalid">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput/>
      <mat-error *ngIf="authForm.controls['password'].invalid">
        Invalid password
      </mat-error>
      <button class="password_btn" type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
        <mat-icon>{{hidePassword ? "visibility_off" : "visibility"}}</mat-icon>
      </button>
    </mat-form-field>

    <ng-container *ngIf="isRegistrationPage">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="firstName"/>
        <mat-error *ngIf="authForm.controls['firstName'].invalid && authForm.controls['firstName'].touched">
          Please enter a valid name
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Second name</mat-label>
        <input matInput formControlName="secondName" />
        <mat-error *ngIf="authForm.controls['secondName'].invalid && authForm.controls['secondName'].touched">
          Please enter a valid second name
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <div class="login-form_btns" *ngIf="!isRegistrationPage">
      <a [routerLink]="['/', routesEnum.REGISTRATION]" mat-flat-button color="accent">Registration</a>
      <button mat-flat-button color="primary">Login</button>
    </div>

    <div class="login-form_btns" *ngIf="isRegistrationPage">
      <a [routerLink]="['/', routesEnum.LOG_IN]" mat-flat-button color="accent">Cancel</a>
      <button mat-flat-button color="primary">Confirm</button>
    </div>

    <a 
      *ngIf="!isRegistrationPage"
      [routerLink]="['/', routesEnum.RESTORE_PASSWORD]"
      [queryParams]="{ email: email.value }" 
      class="forg_password-link" 
    >
      Forgot <strong>password</strong>?
    </a>
  </div>
</form>
