@import "../../constants/colors.scss";
@import "../../constants/values.scss";
@import "../../constants/common.styles.scss";

.password-button {
  border: none;
  background-color: transparent;
}

.login-form-buttons {
  display: flex;
  justify-content: space-between;
}

.restore-password-link {
  margin-bottom: 1rem;
}
