<form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="login-form">
  <div class="form-container">
    <h2>{{pageURL === routesEnum.REGISTRATION ? 'Registration' : 'Login'}}</h2>

    <ng-container *ngIf="pageURL === routesEnum.REGISTRATION">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName="firstName"/>
        <mat-error *ngIf="firstNameControl.invalid && firstNameControl.touched">
          Please enter a valid name
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Second name</mat-label>
        <input matInput formControlName="secondName" />
        <mat-error *ngIf="secondNameControl.invalid && secondNameControl.touched">
          Please enter a valid second name
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option [value]="gender.MALE">{{gender.MALE | titlecase}}</mat-option>
          <mat-option [value]="gender.FEMALE">{{gender.FEMALE | titlecase}}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        type="email" 
        matInput 
        formControlName="email" 
        placeholder="Ex. pat@example.com"
      />
      <mat-error *ngIf="emailControl.invalid">
        Please enter a valid email address
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput/>
      <mat-error *ngIf="passwordControl.invalid">
        Invalid password
      </mat-error>

      <button 
        (click)="hidePassword = !hidePassword"
        type="button" 
        mat-icon-button 
        matSuffix 
        class="password-button" 
      >
        <mat-icon>{{hidePassword ? "visibility_off" : "visibility"}}</mat-icon>
      </button>
    </mat-form-field>

    <a 
      *ngIf="pageURL !== routesEnum.REGISTRATION"
      [routerLink]="['/', routesEnum.RESTORE_PASSWORD]"
      [queryParams]="{ email: emailControl.value }" 
      class="restore-password-link" 
    >
      Forgot <strong>password</strong>?
    </a>

    <div class="login-form-buttons">
      <a 
        [routerLink]="['/', pageURL === routesEnum.REGISTRATION ? routesEnum.LOG_IN : routesEnum.REGISTRATION]" 
        mat-flat-button 
        color="accent"
      >
        {{pageURL === routesEnum.REGISTRATION ? 'Back to login' : 'Registration'}}
      </a>
      <button mat-flat-button color="primary">{{pageURL === routesEnum.REGISTRATION ? 'Confirm' : 'Login'}}</button>
    </div>
  </div>
</form>
