@import "./app/constants/colors.scss";
@import '~ngx-toastr/toastr';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: $bodyColor;
}

html, body {
  height: 100%;
}

p, h1, h2, h3 {
  margin: 0;
}

a {
  text-decoration: none;
}
